* {
  margin: auto;
}

html {
  background-color: #181A1C;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
}

.header > .title {
  position: absolute;
  top: 4%;
  left: 7%;
  color: white;
  transition: 0.2s ease-out;
}

.title > h1 {
  float: right;
  font-size: 58px;
  margin-left: 20px;
  user-select: none;
}

.title > img {
  float: left;
  margin-top: 8px;
  width: 58px;
  height: 58px;
}

.header >.title:hover {
  opacity: 0.6;
}

.header > img {
  margin: 0;
  padding: 0;
  margin-bottom: -215px;
}

.card-overlay {
  position: absolute;
  width: 480px;
  height: 320px;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 480px;
  height: 320px;
  background-color: black;
  border-radius: 12px;
  opacity: 0.6;
}

.card-caption {
  position: absolute;
  padding: 15px 40px;
  color: white;
  z-index: 1;
}

.card-overlay:hover {
  opacity: 1;
}

.card-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 480px;
  height: 320px;
  border-radius: 20px;
  margin: 14px;
}

.card-image {
  position: absolute;
  width: 480px;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
}

.card-image > img {
  width: 480px;
  height: 320px;
  transition: 0.2s ease-out;
}

.card-overlay:hover + .card-image > img {
  transform: scale(1.1);
}

.icon-link {
  margin: 0 8px;
  font-size: 30px;
  color: white;
}
.icon-link:hover {
  color: #333;
}

.tag-block {
  display: flex;
  align-items: center;
  text-align: center;
}

.tag {
  padding: 2px 8px 2px 8px;
  margin: 1px;
  border: 1px solid;
  border-radius: 14px;
  font-size: 0.65em;
}

.button-block {
  margin-top: 5px;
  display: grid;
  place-items: center;
}

.view-more {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  transition: 0.15s ease-out;
}

.view-more:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
}
